/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}

.snack-bar-color-ok {
    /* background-color: #00ff7f; */
    color: green;
}  

.snack-bar-color-error {
    /* background-color: #00ff7f; */
    color: red;
    font-weight: bold;
}  