
.welcome {
    text-align: center;
}






/* .welcome-card {
    max-width: 500px;
  }
  
  .welcome-header-image {
    background-image: url('../../assets/images/amz_logo_small.png');
    background-size: cover;
    background-size: 100%;
  }
  .welcome-title {
      font-size: headline
  }

mat-card {
    margin-left: auto;
    margin-right: auto;  
    margin-top: 20px;
    display: block;

}

mat-card mat-card-title {
    color: red;
    font-size: xx-large;
    font-weight: bold;
 } */
